[include]
    path = ~/.config/delta/delta.gitconfig

[core]
    editor = vim
    pager = delta

[user]
    name = Kevin Mertens
    email = kevin_mertens@telenet.be

[init]
    defaultBranch = main

[fetch]
    prune = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictStyle = zdiff3
